# PostgreSQL Connection Configuration

# Users Database
USERS_DB_USERNAME=postgres
USERS_DB_HOST=localhost
USERS_DB_NAME=example_users
USERS_DB_PORT=5432
USERS_DB_PASSWORD=your_password_here

# Products Database
PRODUCTS_DB_USERNAME=postgres
PRODUCTS_DB_HOST=localhost
PRODUCTS_DB_NAME=example_products
PRODUCTS_DB_PORT=5432
PRODUCTS_DB_PASSWORD=your_password_here
